<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Новости{% endblock %}</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'news/style.css' %}">
</head>
<body>
    <main>
        <div class="news-container">
            {% block content %}
            <!-- Здесь будет контент новостей для каждой конкретной страницы -->
            {% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; 2023 nFactorial. Все права защищены.</p>
    </footer>
</body>
</html>